# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
%matplotlib inline

# Import API key
from config import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the cities.csv that had been export in Part I to a DataFrame
cities = pd.read_csv("output_data/cities.csv")
cities.head()

,City,Country,Lat,Lng,Max Temp (F),Humidity,Cloudiness,Wind Speed (mph),Date
0,Ushuaia,AR,-54.8000,-68.3000,29.86,100,90,17.27,1622253847
1,Pangnirtung,CA,66.1451,-65.7125,21.13,92,55,5.70,1622254101
2,Punta Arenas,CL,-53.1500,-70.9167,35.71,75,20,21.81,1622254101
3,George Town,MY,5.4112,100.3354,85.95,77,20,1.01,1622254101
4,Rome,US,43.2128,-75.4557,46.26,92,90,0.00,1622254102

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# configure gmaps
gmaps.configure(api_key=g_key)

# Define the data objects and settings that will be used in the Humidity Heatmap
locations = cities[["Lat", "Lng"]]
humidity = cities["Humidity"].astype(float)

In [4]:
# Create Heatmap layer for map
# Use Humidity as the weight, and prevent dissipation on zoom by controlling the max_intensity setting,
# This caps off the maximum peak intensity
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=100,point_radius=3)
# Add Heatmap layer to map
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.
* Ideal weather conditions: 
    *max temperature less than 80 degrees, but greater than 65 degrees
    *wind speed less than 10 mph
    *zero cloudiness

In [5]:
ideal_cities_df = cities.loc[(cities["Max Temp (F)"] > 70) & (cities["Max Temp (F)"] < 82) & (cities["Wind Speed (mph)"] < 10) & (cities["Cloudiness"] == 0), :]
ideal_cities_df = ideal_cities_df.dropna(how='any')
ideal_cities_df.reset_index(inplace=True)
del ideal_cities_df['index']
ideal_cities_df

,City,Country,Lat,Lng,Max Temp (F),Humidity,Cloudiness,Wind Speed (mph),Date
0,Gachsaran,IR,30.3586,50.7981,79.95,12,0,4.45,1622254122
1,Dahuk,IQ,36.8695,42.9940,72.23,29,0,4.34,1622254153
2,Mossamedes,AO,-15.1961,12.1522,73.22,60,0,1.88,1622253973
3,Meybod,IR,32.2501,54.0166,73.42,17,0,6.60,1622254156
4,Kosonsoy,UZ,41.2561,71.5508,70.36,34,0,4.52,1622254159
5,Gijang,KR,35.2442,129.2139,73.13,49,0,9.80,1622254162
6,Kutum,SD,14.2000,24.6667,76.80,11,0,9.44,1622254170

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_cities_df
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Lat,Lng,Max Temp (F),Humidity,Cloudiness,Wind Speed (mph),Date,Hotel Name
0,Gachsaran,IR,30.3586,50.7981,79.95,12,0,4.45,1622254122,
1,Dahuk,IQ,36.8695,42.9940,72.23,29,0,4.34,1622254153,
2,Mossamedes,AO,-15.1961,12.1522,73.22,60,0,1.88,1622253973,
3,Meybod,IR,32.2501,54.0166,73.42,17,0,6.60,1622254156,
4,Kosonsoy,UZ,41.2561,71.5508,70.36,34,0,4.52,1622254159,
5,Gijang,KR,35.2442,129.2139,73.13,49,0,9.80,1622254162,
6,Kutum,SD,14.2000,24.6667,76.80,11,0,9.44,1622254170,

In [7]:
for index, row in hotel_df.iterrows():
        
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"


        lat = row['Lat']
        lng = row['Lng']

        params = {
        "keyword": "hotel",
        "radius": 5000,
        "key": g_key,
        }

        params['location'] = f"{lat}, {lng}"

        hotel_data = requests.get(base_url, params=params)
        hotel_data = hotel_data.json()
        
        try:
            hotel_df.loc[index, "Hotel Name"] = hotel_data["results"][0]["name"]
        
        except (KeyError, IndexError):
            print("Missingfield/result... skipping.")
        
               
hotel_df

Missingfield/result... skipping.
Missingfield/result... skipping.
Missingfield/result... skipping.
Missingfield/result... skipping.
Missingfield/result... skipping.
Missingfield/result... skipping.
Missingfield/result... skipping.

,City,Country,Lat,Lng,Max Temp (F),Humidity,Cloudiness,Wind Speed (mph),Date,Hotel Name
0,Gachsaran,IR,30.3586,50.7981,79.95,12,0,4.45,1622254122,
1,Dahuk,IQ,36.8695,42.9940,72.23,29,0,4.34,1622254153,
2,Mossamedes,AO,-15.1961,12.1522,73.22,60,0,1.88,1622253973,
3,Meybod,IR,32.2501,54.0166,73.42,17,0,6.60,1622254156,
4,Kosonsoy,UZ,41.2561,71.5508,70.36,34,0,4.52,1622254159,
5,Gijang,KR,35.2442,129.2139,73.13,49,0,9.80,1622254162,
6,Kutum,SD,14.2000,24.6667,76.80,11,0,9.44,1622254170,

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))